{% extends "layout_bsa.html" %}

{% block page_title %}
  Request initial assessment
{% endblock %}

{% block content %}

<main id="content" role="main">
  
  <div class="grid-row">
    <div class="column-full">
      <div class="phase-banner">
          <p>
            <strong class="phase-tag">BETA</strong>
            <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
          </p>
        </div>
    </div>
  </div>
    
  <div class="grid-row">
    
    <div class="column-two-thirds">
      

      <div class="done-panel">
        
        <h1 class="heading-large"><span id="done-tick"> </span>Thank you</h1>
        <h2 class="heading-medium">Your request has been submitted.</h2>
    
      </div>

    
      <p class="">Your request will be assessed by NHSBSA. If successful it will then be assessed by Capita.</p>
        
        <p>If the request is unsuccessful you will be contacted with an explanation of how it can be improved. This will require you to resubmit the request.</p>
        
        <p>To resubmit you will need to raise a new request and copy the output from your confirmation email before making your changes. You will need to enter the original RFIA number when asked if the request has been assessed before.</p>
    

      <h3 class="heading-medium" style="margin-top:2em">
        How to contact us about your request
      </h3>
        
          <ul class="list list-bullet">
            <li><P>Attend the workshop in GR3 on Wednesday at 11.00</P></li>
            <li><p>Email us at: angelapurves@nhs.net</p></li>
            <li><p>Call us on: 0191 203 5268</p></li>
  </ul>
        
        <br>
        
        <a href="rfia-details">Make another request</a>

      </div>
    
  </div>

</main>

{% endblock %}