{% extends "layout_bsa.html" %}

{% block page_title %}
  Request initial assessment
{% endblock %}

{% block content %}

<main id="content" role="main">
  
  <div class="grid-row">
    <div class="column-full">
      <div class="phase-banner">
        <p>
          <strong class="phase-tag">BETA</strong>
          <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
        </p>
      </div>
      <a class="link-back" href="requests">Back</a>
    </div>
  </div>
    
  <div class="grid-row">
    
    <div class="column-two-thirds">
    
      <div class="heading-group">
        <h1 class="heading-large">Details of request</h1>
      </div>
        
                <form>
  <div class="form-group">
    <fieldset class="inline">

        
                    <label class="form-label-bold" for="textarea-c">
              Has this request been assessed before?
            </label>
        
        <p>Click yes if this is a revision of a previous request that failed its assessment</p>

      <div class="multiple-choice" data-target="beenAssessed">
        <input id="radio-inline-1" type="radio" name="radio-inline-group" value="Yes">
        <label for="radio-inline-1">Yes</label>
      </div>
      <div class="multiple-choice">
        <input id="radio-inline-2" type="radio" name="radio-inline-group" value="No">
        <label for="radio-inline-2">No</label>
      </div>
        
              <div class="panel panel-border-narrow js-hidden" id="beenAssessed">
        <label class="form-label-bold" for="contact-email">Previous PIP/RFIA number</label>
                  <p>This is the unique identifier assigned to the request</p>
        <input class="form-control" name="contact-email" type="text" id="contact-email">
      </div>
        
                <br>
        <br>
                <br>

    </fieldset>
  </div>
</form>
        
        
      
      
      <form action="check-your-answers" method="get" class="form">


        
        <div>


        </div>
        <br>
        
        <div class="form-item-wrapper">
          <div class="form-group">
            <input class="button" type="submit" value="Next">
          </div>
        </div>

        <p class="navigation"><a class="cancel" href="cancel">Cancel</a></p>
        
      </form>
    </div>
    
  </div>
  
</main>

{% endblock %}