{% extends "layout_bsa.html" %}

{% block page_title %}
  Request initial assessment
{% endblock %}

{% block content %}

<main id="content" role="main">
  
  <div class="grid-row">
    <div class="column-full">
      <div class="phase-banner">
        <p>
          <strong class="phase-tag">BETA</strong>
          <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
        </p>
      </div>
      <a class="link-back" href="">Back</a>
    </div>
  </div>
    
  <div class="grid-row">
    
    <div class="column-two-thirds">
    
      <div class="heading-group">
        <h1 class="heading-large">Impacts of request</h1>
      </div>
        
        <div class="form-group">
            <label class="form-label-bold" for="example-form-label">
              Are there any other locations, services or systems impacted?
            </label>

            <p>Enter any other locations, services or systems impacted by this request</p>
            <input class="form-control" id="example-form-label" type="text">
            <br>
            <br>
            <a href="">+ Add another location, service or system</a>
          </div>
        
        <form>
  <div class="form-group">
    <fieldset class="inline">

<!--
      <legend>
        <h1 class="heading-medium">
          Are there any DR and BCP implications?
        </h1>
      </legend>
-->
        
                    <label class="form-label-bold" for="example-form-label">
              Are there any DR and BCP implications?
            </label>
        
     
<p>Select whether the request affects Disaster Recovery and Business Continuity Planning</p>
      <div class="multiple-choice" data-target="beenAssessed">
        <input id="radio-inline-1" type="radio" name="radio-inline-group" value="Yes">
        <label for="radio-inline-1">Yes</label>
      </div>
      <div class="multiple-choice">
        <input id="radio-inline-2" type="radio" name="radio-inline-group" value="No">
        <label for="radio-inline-2">No</label>
      </div>
        
        
                <br>
        <br>
                <br>

    </fieldset>
  </div>
</form>
      
      
      <form action="rfia-signature" method="get" class="form">


        
        <div>


        </div>
        <br>
        
        <div class="form-item-wrapper">
          <div class="form-group">
            <input class="button" type="submit" value="Next">
          </div>
        </div>

        <p class="navigation"><a class="cancel" href="start">Cancel</a></p>
        
      </form>
    </div>
    
  </div>
  
</main>

{% endblock %}