{% extends "layout_bsa.html" %}

{% block page_title %}
  Request initial assessment
{% endblock %}

{% block content %}

<main id="content" role="main">
  
    <div class="grid-row">
    <div class="column-full">
      <div class="phase-banner">
          <p>
            <strong class="phase-tag">Alpha</strong>
            <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
          </p>
        </div>
    </div>
  </div>

    
  <div class="grid-row">
    
    <div class="column-full">
      <div class="heading-group">
        <h1 class="heading-xlarge">View and respond to requests for initial assessment</h1>
      </div>
    </div>
      
      
      <div class="column-full">
        

        <h1 class="heading-medium">Search for a request</h1>
        
            
            <p>If the request doesn't have an RFIA number search by title instead</p>
        

       <span class="form-label">RFIA number</span>
       <div class="form-group">
         <input class="form-control" id="reference-number" name="first-name-2" type="text">
      </div>


       <span class="form-label">Title</span>
       <div class="form-group">
         <input class="form-control" id="reference-number" name="first-name-2" type="text">
      </div>

        
                    <div class="form-group">
            <a class="button" id="search-button" href="#" role="button">Search</a>
            </div>
          
          <p>You will get the option to respond after viewing the request</p>
        
              <table class="internal-table">
          <tr>
        <th>RFIA number</th>
        <th>Title</th> 
        <th>Response req</th>
        <th>Start date</th>
        <th>Status</th>
      </tr>
      <tr>
        <td><a href="rfia-view">123456789</a></td>
        <td>My request 1</td> 
        <td>12/03/2018</td>
          <td>05/05/2018</td>
          <td>In Review</td>
      </tr>
    </table>

    <br>
        

        
      

      
    </div>
      </div>
  
</main>

{% endblock %}
