{% extends "layout_bsa.html" %}

{% block page_title %}
  Request initial assessment
{% endblock %}

{% block content %}

<main id="content" role="main">
  
  <div class="grid-row">
    <div class="column-full">
      <div class="phase-banner">
        <p>
          <strong class="phase-tag">BETA</strong>
          <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
        </p>
      </div>
      <a class="link-back" href="">Back</a>
    </div>
  </div>
    
  <div class="grid-row">
    
    <div class="column-two-thirds">
    
      <div class="heading-group">
        <h1 class="heading-large">Technical solution</h1>
      </div>
        

                        <div class="form-group">
            <label class="form-label-bold" for="textarea-c">
              Details of any interfaces affected
            </label>
            <textarea class="form-control form-control-3-4" name="textarea" id="textarea" rows="5"></textarea>
          </div>
                                <div class="form-group">
            <label class="form-label-bold" for="textarea-c">
              Detailed risk assessment
            </label>
            <textarea class="form-control form-control-3-4" name="textarea" id="textarea" rows="5"></textarea>
          </div>
      
      
      <form action="op-impact" method="get" class="form">


        
        <div>


        </div>
        <br>
        
        <div class="form-item-wrapper">
          <div class="form-group">
            <input class="button" type="submit" value="Next">
          </div>
        </div>

        <p class="navigation"><a class="cancel" href="start">Cancel</a></p>
        
      </form>
    </div>
    
  </div>
  
</main>

{% endblock %}