{% extends "layout_bsa.html" %}

{% block page_title %}
  Request for initial assessment
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    
    <div class="column-full">
      <div class="phase-banner">
        <p>
          <strong class="phase-tag">ALPHA</strong>
          <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
        </p>
      </div>
    </div>
    
  </div>

  <h1 class="heading-xlarge">Request for initial assessment</h1>

  <h3 class="heading-large">Prototypes</h3>

  <ul class="list list-bullet">
      <li><a href="rfia/start">NHSBSA request and track RFIA</a></li>
      <li><a href="rfiaCap/start">CAPITA view and respond to RFIA</a></li>
<!--
      <li><a href="rfia/start">Admin track RFIA</a></li>
-->
  </ul>
    
        <h3 class="heading-large">Other links</h3>

  <ul class="list list-bullet">
        <li><a href="#">Nothing here yet</a></li>

  </ul>

</main>

{% endblock %}
